body{
    margin: 0;
    padding: 0;    
    font-family: 'Roboto', sans-serif;
}
.mid{
    width: 80%;
    margin: auto;
}
.menu{
    margin-top: 20px;
    height: 50px;;
}
.menu ul {
    
  text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
ul li {
  display: inline-block;
}

li a {
  display: block;
  color: #363958;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.hello-part{
  margin-top: 80px;
  overflow: hidden;
}
.text-part, .image-part{
  width: 48%;
  float: left;
}
.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0;
}
.para{
  letter-spacing: 1px;
  font-size: 23px;
  width: 500px;
  margin-bottom: 70px;
}
.image-part img{
  width: 100%;
}
.text-part a{
  background-color: #FF8063;
  padding: 18px 60px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.text-part a img{
  width: 22px;
}
.about-part{
  padding-left: 40px;
}
.aboutTitle{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px; 
  color:#363958;
  margin-top: 90px;
}
.aboutpara{
  font-size: 23px;
  margin-bottom:90px;
}
.letest-work{
  background-color: #F8F9FC;
  height: 500px;
  margin: auto;
  padding-bottom: 100px;
}
.one{
  width: 28%;
  float: left;
  background-color: #fff;
  overflow: hidden;
  margin: 0px 12px;
  padding: 14px 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #888888;

}
.one img{
  width: 100%;
  text-align: center;
}
.latestWorkTitle{
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  padding-top: 70px;
}
.one h3{
  font-weight: bolder;
}

.work-inquery{
  width: 60%;
  margin: 70px auto;
  background-image: url(images/Group_33094_1.png);
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}
.w-half{
  width: 50%;
  float: left;

}

.w-half h2{
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  color: #ffffff;
}

.chatBtn{
  padding-top: 95px;
  padding-left: 150px;
}

.chatBtn a{
  background-color: #FF8063;
  padding: 15px 30px;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 50px;
}

.bottom h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  color:#505374;
}
.bottom h2{
  text-align: center;
}
.social-icon ul{
  text-align: center;
}
.social-icon img{
  width: 40px;
}

